.button-modal {
    margin-top: 20px;
}
span.email_error,.second_name_error,.first_name_error {
    display: block;
    padding: 10px 0px 10px 10px;
    color: red;
}
span.db-request {
    color: green;
    text-align: center;
    display: block;
}
td.red-zone {
    border: 2px solid red;
}
span.answer-from-db {
    display: block;
    padding: 10px;
    color: green;
}
span.answer-from-error {
    color: red;
}